img {
    animation: animacja 2s infinite;
}

@keyframes animacja {
    0%,
    100% {
        width: 10px;
        height: 10px;
    }

    50% {
        width: 500px;
        height: 500px;
        transform: translate(100px, 200px)
    }

}
