body {
    margin: 0;
}

div {
    width: 650px;
    height: 350px;
    
    margin: auto;
    margin-top: 50px;

    padding: 8px; /* 5px biały + 3px ramka */
    
    position: relative;
}

h1 {
    display: block;
    text-align: center;
    
    width: 666px; /* 650px zdjęcia + 2* 8px padding */ 
    
    margin: 0;
    
    text-transform: uppercase;
    font-size: 4em;;
    font-weight: normal;

    position: absolute;
    top: 146px;
    left: 0;
    
    color: white;
    background-color: rgba(0,0,0,0.8)
    
}
