body {
    margin: 0;
    background-color: pink;
}

div {
    width: 666px;
    height: 366px;
    
    margin: auto;
    margin-top: 50px;

    padding: 3px; /* przestrzeń na czarną ramkę */
    
    position: relative;
    overflow: hidden;
}

img {
    padding: 5px; /* biała ramka dookoła */
    background-color: white;
}

h1 {
    display: block;
    text-align: center;
    
    margin: 0;
    margin-top: -0.5em;
    
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0em;

    position: absolute;
    top: 50%;
    left: 0;
    
    color: white;
    background-color: rgba(0,0,0,0.8);
    
    opacity: 0;
}

/* animacja napisu */
div:hover > h1 {
    width: 666px;
    font-size: 4em;
    opacity: 1;
    
    transition: all 1s linear;
}

/* ramka gora */
div::before {
    content: "";
    position: absolute;
    z-index: -1;
    
    background-color: black;
    
    width: 666px;
    height: 183px;
    
    left: 0;
    top: 0;
}

/* ramka dol */
div::after {
    content: "";
    position: absolute;
    z-index: -1;
    
    background-color: black;
    
    width: 666px;
    height: 183px;
    
    left: 0;
    bottom: 6px;
}