/* Selektor znacznika */

p {
    background-color: red;
}



/* Selektor ID */

#main-text {
    background-color: blue;
}



/* Selektor klasy */

.link {
    background-color: green;
}

.link.first-link {
    background-color: aqua;
}
