#container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    background-color: bisque;
    border-top-right-radius: 50%;
    border-top-left-radius: 46%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 80%;
    animation: rotate 6s infinite linear;

}

.square {
    width: 20px;
    height: 20px;
    background-color: deepskyblue;
    position: absolute;

}

#one {
    top: 0;
    right: 0;
    animation: one 3s infinite;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#two {
    bottom: 0;
    animation: two 3s infinite;
    background-color: deeppink;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

@keyframes one {
    0% {
        transform: translateX(0px) translatey(0px) rotate(0deg) scale(1);
        background-color: deepskyblue;
    }

    25% {
        transform: translateX(-80px) translatey(0px) rotate(90deg) scale(2);

    }

    50% {
        transform: translateX(-80px) translatey(80px) rotate(180deg) scale(3);
        background-color: yellow;
    }

    75% {
        transform: translateX(0px) translatey(80px) rotate(270deg) scale(2);
    }

    100% {
        transform: translateX(0px) translatey(0px) rotate(360deg) scale(1);
    }
}

@keyframes two {
    0% {
        transform: translateX(0px) translatey(0px) rotate(0deg) scale(1);
        background-color: deeppink;
    }

    25% {
        transform: translateX(80px) translatey(0px) rotate(90deg) scale(2);
    }

    50% {
        transform: translateX(80px) translatey(-80px) rotate(180deg) scale(3);
        background-color: turquoise;
    }

    75% {
        transform: translateX(0px) translatey(-80px) rotate(270deg) scale(2);
    }

    100% {
        transform: translateX(0px) translatey(0px) rotate(360deg) scale(1);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}
