body {
    background-color: #213b50;
    color: white;
    padding: 20px;
}

.width {
    background-color: #2b4a64;
    width: 300px;
    margin-top: 5px;
    color: white;
    border: #2b4a64 2px solid;
    height: 20px;
    padding: 4px;
}

label {
    display: block;
}

option {
    display: block;
    cursor: pointer;
}

#message {
    height: 100px;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #4e708c;
    border: white;
    outline: none;
    border: white 2px solid;
}

#submit {
    background-color: limegreen;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    width: 100px;
    font-weight: 500;
    border: #213b50;
}
