#box {
    border: solid 2px black;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

input {
    display: none;
}

input:checked + label::before {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin-left: -23px;

}
